{% extends 'layout.html' %}
{% set isShowBack = False %}
{% set isShowExit = True %}

{% block head %}
    <style>
        .deposit-demo .login-container {
            padding-top: 30px;
        }

        .deposit-demo select {
            height: 56px;
        }

        .deposit-demo .input-content .sms-code input {
            padding-right: 120px;
        }

        .deposit-demo .input-content .code {
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            font-size: 14px;
        }

        .deposit-demo .input-content .code .send {
            color: #32B8DA;
        }

        .deposit-demo .input-content .code .resend {
            color: #bababa;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-container pdd-30">
        <form class="form-horizontal" id="login_form">
            <div class="form-group">
                <div class="input-content">
                    <input type="text" name="mobile" class="form-control"
                           placeholder="Enter Phone Number">
                    <span class="input-label">Phone</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-content">
                    <input type="password" name="password" class="form-control"
                           placeholder="Enter Phone Number">
                    <span class="input-label">Password</span>
                </div>
            </div>
            <div class="line-style btn-content">
                <button type="button" class="btn">Login
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            var btnFlag = false;
            var $form = $("#login_form");

            $form.find("input").on("input propertychange", function () {
                btnFlag = true;
                $form.find("input").each(function () {
                    if (!$(this).val()) {
                        btnFlag = false;
                    }
                });
                if (btnFlag) {
                    $form.find(".btn").addClass("active");
                } else {
                    $form.find(".btn").removeClass("active");
                }

            });

            $form.find(".btn").click(function () {
                if (btnFlag) {
                    var params = $form.serializeObject();
                    var mobileRexp = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
                    if(!mobileRexp.test(params.mobile)) {
                        layer.msg('mobile does not correct');
                        return false;
                    }
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(params),
                        url: '/api/password_login',
                        json: true,
                        contentType: 'application/json',
                        success: function (data) {
                            window.location.href = '{{ url_for("home.index") }}';
                        },
                        error: function (err) {
                            var code = err.responseJSON.code;
                            if(code == 1002) {
                                layer.msg('Incorrect password');
                            }
                        }
                    }).always(function () {
                    });
                }
            });

            $(".deposit-demo").on("click", ".main>header>.left", function () {
                window.location.href = "{{ url_for('home.index') }}"
            })

        })
    </script>
{% endblock %}